*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0b0d14;
    color:white;
    overflow:hidden;
}

/* glow */
.bg{
    position:absolute;
    width:700px;
    height:700px;
    background:radial-gradient(circle, rgba(124,92,255,0.25), transparent 60%);
    filter:blur(90px);
}

/* container */
.container{
    width:min(750px,92%);
    z-index:2;
}

/* title */
h1{
    text-align:center;
    font-size:3.5rem;
    letter-spacing:6px;
    background:linear-gradient(90deg,#7c5cff,#fff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.subtitle{
    text-align:center;
    opacity:0.6;
    margin-bottom:20px;
}

/* card */
.card{
    padding:20px;
    border-radius:18px;

    background:rgba(255,255,255,0.04);
    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(18px);
    text-align:center;
}

/* stand */
.stand h2{
    font-size:1.8rem;
}

/* status */
.status{
    margin-top:10px;
    opacity:0.8;
}

/* timeline */
.timeline{
    margin-top:20px;
    padding:20px;

    background:rgba(255,255,255,0.03);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:18px;

    backdrop-filter:blur(18px);
}

.timeline h3{
    opacity:0.6;
    margin-bottom:10px;
}

.item{
    padding:8px;
    margin:5px 0;

    background:rgba(124,92,255,0.1);
    border-left:3px solid #7c5cff;
    border-radius:6px;
}